.lista-casa {
    list-style-type: square;
    list-style-position: inside;
    list-style: square inside url('casa.png');
    list-style-image: url('casa.png');
}

.tabela {
    border-collapse: collapse;
    border-color: black;
}

.tabela_1 {
    text-align: center;
    width: 25%;
    padding: 5px;
    background-color: darkgreen;
    color: white
}

.td {
    width: 25%;
    padding: 5px;
    background-color: antiquewhite;
}

.td_2 {
    width: 25%;
    padding: 5px;
    background-color: white;
}

.td_3 {
    width: 25%;
    padding: 5px;
    background-color: gray;
    text-align: right;
}

.links{
    background-color: aqua;
    color: blue;    
    display: inline-block;    
    text-align: center;
    block-size: auto;
    padding: 15px 30px;
    text-decoration: none;
}
a:hover,:active{
    background-color: aquamarine;
}
.bordas{
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    width: 250px;
    /*height: 110px;*/
    text-align: center;
}
.cor{
    color: blue;
}
.cor_2{
    color: red;
}
.th{
    text-align: right;
}