/* Lista */

h1{
    color: blue;
}

div{
    list-style-image: url('Icones/casa.png');
}


/* Tabela */
caption{
    color: red;
}

th,td,table{
    border: 1px solid black;
    border-collapse: collapse;
    height: 40px;
}

th{
    width: 40%;
}

td{
    width: 40%;
}

tfoot{
    background-color: gray;
    text-align: right;
}

td:nth-of-type(3)
{
    text-align: right;
}

tbody>tr:nth-child(odd)
{
    background-color: antiquewhite;
}

thead{
    color: white;
    background-color: darkgreen;
}

/* Links */

a{
    background-color: aqua;
    color: blue;
    display: inline-block;
    text-align: center;
    block-size: auto;
    padding: 15px 30px;
    text-decoration: none;
}

a:hover,a:active{
    background-color: aquamarine;
}

/* Bordas */

p{
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    width: 250px;
    text-align: center;
}